.questions{
	@media (max-width: 1440px) {
		padding-bottom: 98px;
	}

	@media (max-width: 1199px) {		
		&__item {
			&-title{
				font-size: 16px;
			}
			&-description {
				margin-top: 15px;
				font-size: 14px;
			}
		}
	}
	
	@media(max-width:991px){
		padding-bottom: 79px;
	}

	@media(max-width:768px){

	}

	@media(max-width:575px){
		padding-bottom: 48px;
		padding-top: 50px;
		&__title{
			font-size: 22px;
			line-height: 120%;
			margin-bottom: 30px;
		}
		&__item-title{
			font-size: 12px;
			line-height: 145%;
		}
		&__item-description{
			font-size: 12px;
		}
		&__item-arrow {
			width: 14px;
			height: 14px;
		}
	}
	@media(max-width:376px){

	}
}