<?php 

{% set data = [

{
    title: 'Как забронировать спикера?',
    description: 'Отправьте запрос через форму на нашем сайте и подробно опишите свое мероприятие, укажите тему, целевую аудиторию, ожидаемое количество слушателей, предполагаемый бюджет и т.д. Мы подберем спикеров, подходящих именно под ваш запрос, и начнем обсуждение вашего мероприятия.'
},
{
    title: 'Как происходит бриф спикера?',
    description: 'За месяц до мероприятия мы можем провести встречу в формате онлайн между вами и спикером для обсуждения всех деталей (при желании встречу можно поставить раньше).'
},
{
    title: 'В каком формате проходит выступление спикера?',
    description: 'В стандартный пакет входит выступление спикера длительностью 40–45 минут, а также серия вопросов и ответов после выступления. Если вы хотите другой формат выступления, просим указать это при первом общении с нашим менеджером, чтобы он мог подобрать спикеров с учетом ваших ожиданий.'
},
{
    title: 'Будете ли вы помогать с непосредственной организацией мероприятия?',
    description: 'Да, для нас очень важно, чтобы мероприятие прошло успешно, поэтому мы будем содействовать на всех этапах подготовки мероприятия. Мы станем связующим звеном между вами и спикером и вплоть до окончания проекта будем помогать со всеми деталями. Также мы можем оказать полное сопровождение и организацию мероприятия «под ключ», что обсуждается дополнительно.'
},
{
    title: 'Можно ли осуществлять фото- и видеосъемку выступления спикера?',
    description: 'Чтобы записать выступление, вам необходимо запросить официальное разрешение через наше агентство. Обычно спикеры соглашаются на запись, если материалы выступления будут использоваться только в некоммерческих целях внутри одной компании. Если же вы хотите сделать запись для внешней продажи, спикер может запросить дополнительный гонорар. Некоторые материалы охраняются законодательством об авторском праве, поэтому спикер может отказать в их записи.'
},
{
    title: 'Что нужно будет оплатить помимо гонорара спикера?',
    description: 'Дополнительные расходы на участие спикера включают в себя:<br><br>
        •	трансфер спикера до города выступления и обратно (бизнес- или первый класс в зависимости от преодолеваемого расстояния);<br><br>
        •	трансфер от аэропорта до отеля и обратно;<br><br>
        •	трансфер от отеля до места выступления и обратно;<br><br>
        •	проживание в отеле соответствующего класса с питанием.<br><br>
        Если спикеру для выступления на мероприятии необходимо будет получить визу, то все траты по её оформлению также берёт на себя заказчик.
        Условия райдера озвучиваются перед тем, как подтверждается участие спикера в мероприятии.
        '
},
{
    title: 'Какова стоимость ваших услуг?',
    description: 'Стоимость наших услуг включена в гонорар спикера.'
},
{
    title: 'Выступают ли ваши спикеры на бесплатной основе?',
    description: 'К сожалению, мы не можем гарантировать выступление эксперта бесплатно, однако мы с удовольствием перенаправим ваше предложение желаемому спикеру. И если он будет заинтересован, то откликнется на ваше предложение.'
},
{
    title: 'Что произойдет, если из-за непредвиденных обстоятельств спикер откажется от участия в нашем мероприятии?',
    description: 'В случае непредвиденных обстоятельств мы можем предложить вам срочную замену или полностью вернём деньги.'
},
{
    title: 'Можно ли через вас забронировать спикеров, которых нет на сайте агентства?',
    description: 'По вашему запросу мы можем связаться с любой другой компанией, которая представляет услуги спикеров эксклюзивно, и договориться о выступлении желаемого тренера. Это не повлияет на величину гонорара.'
},
{
    title: 'Как стать вашим спикером?',
    description: 'Если вы хотите стать спикером нашего агентства, то мы просим вас написать нам на почту dkachalka@synergy.ru. Мы свяжемся с вами, обсудим условия и подскажем, какая информация будет необходима.'
}




]%}
