
  .videocard {
        max-width: 360px;
        padding: 0px 15px;
        /* margin-bottom: 32px; */
        display: flex;
        flex-direction: column;
        color: #1B1B1B;
        cursor: pointer;
        text-decoration: none;
    /*     height: 100%; */
        &__inner {
          display: flex;
          flex-direction: column;
          flex-grow: 1;
          padding: 18px 25px;
          background: #F6F6F8;
          border-radius: 6px;
          margin-bottom: 13px;
          position: relative;
          line-height: 100%;
          text-decoration: none;
          color: inherit !important;
        }
        &__bottom {      
          text-decoration: none;
          color: inherit;
        }
        &__name {
          font-family: 'Proxima Nova Cn', sans-serif;
          font-size: 16px;
          margin-bottom: 10px;
        }
        &__theme {
          font-family: 'Proxima Nova Cn', sans-serif;
          font-weight: 500;
          font-size: 21px;
          line-height: 117%;
          min-height: 105px;
          margin-bottom: 15px;
        }
        &__date {
          font-size: 12px;
          margin-top: auto;
          color: #6B7B8E;
          margin-bottom: 10px;
        }
        &__duration {
          align-self: flex-start;
          padding: 5px 7px;
          background: #1C2734;
          opacity: 0.4;
          font-size: 10px;
          border-radius: 4px;
          letter-spacing: 0.04em;
          color: #FFFFFF;
        }
        &__photo,
        &__bg {
          position: absolute;
          right: 0;
          bottom: 0;
        }
        &__bg {
          overflow: hidden;
          svg { 
            vertical-align: bottom;
            margin-bottom: -2px;
          }
        }
    /*     &__photo {
          z-index: 1;
        } */
        
        &__forum-name {
          font-weight: bold;
          font-size: 12px;
          line-height: 100%;
          color: #9FAEBF;
          margin-right: 18px;
          text-transform: uppercase;
          transition: .3s;
        }
        &__watch {
          display: inline-flex;
          letter-spacing: 0.06em;
          color: #9FAEBF;
          vertical-align: middle;
          span {margin-left: 5px;}
        }
        &__chosen {
          opacity: 0;
          visibility: hidden;
          position: absolute;
          padding: 8px 10px;
          line-height: 0;
          display: inline-block;
          background: #FFFFFF;
          box-shadow: 0.915612px 1.83122px 3.66245px rgba(0, 0, 0, 0.05);
          border-radius: 6px;
          top: 12px;
          right: 12px;
          transition: .3s;      
          z-index: 1;
          cursor: pointer;
        }
    
        &:hover {
          .videocard__chosen {
            visibility: visible;
            opacity: 1;
          }
          .videocard__forum-name {
            color: inherit;
          }
        }
        /* Модификаторы состояния */
    
        &_preload {
          .videocard__name,
          .videocard__theme,
          .videocard__date,
          .videocard__duration {
            border-radius: 4px;        
            background: #C4C4C4;
          }
          .videocard__name {
            width: 65%;
            padding: 9px 0;
          }
          .videocard__theme{
            width: 96%;
            max-width: 80%;
            padding: 30px 0;
          }
          .videocard__date{
            width: 50%;
            padding: 7px 0;
          }
          .videocard__duration {
            width: 20%;
            padding: 12px 0;
            opacity: 1;
          }
          &:hover {
            .videocard__forum-name {color: #9FAEBF;}
          }
          .videocard__chosen {display: none;}
        }
    


        /* Для старой страницы БЗ */
        &_state_page {
          width: 100%;
          /* padding: 0px; */
        }
        
        @media (max-width: 1199px) {   
          max-width: 263px;            
          padding: 0px 10px;
          &__chosen {
            visibility: visible;
            opacity: 1;
          }
          &__inner {
            padding: 14px 20px;
            margin-bottom: 10px;
            min-height: 90px;
          }

          &__name {
            font-size: 13px;
            margin-bottom: 8px;
          }
          &__theme {
            font-size: 17px;
            margin-bottom: 8px;
            min-height: 80px;
          }
          &__duration {
            font-size: 8px;
          }
          &__photo {
            max-width: 117px;
          }
          &__bg {
            max-width: 137px;
            svg {
              width: 100%;
              height: auto;
            }
          }
          &__forum-name {
            font-size: 10px;
          }
        }  
        @media (max-width: 767px) {
          max-width: 230px;
          padding: 0 5px;
          &__inner {        
            padding: 12px 17px;
            margin-bottom: 7px;
          }
          &__name {
            font-size: 14px;
            margin-bottom: 5px;
          }
          &__theme {
            font-size: 18px;
            line-height: 100%;
            margin-bottom: 15px;
            font-weight: 600;
            min-height: 80px;
          }
          &__date {
            font-size: 12px;
            margin-bottom: 15px;
          }
          &__duration {
            display: inline-block;
            line-height: 100%;
            font-size: 7px;
            padding: 3px 5px;
          }      
          &__forum-name {
            font-size: 11px;
            line-height: 9px;
          }
          &__photo {
            max-width: 102px;
          }
          &__bg {
            max-width: 110px;
          }
          &__watch {
            span {margin-left: 5px;}
          }
            
          &_detail_forums,
          &_detail_speaker,
          &_detail_theme {
            max-width: none;
            width: 100%;
            margin: 0;
            padding: 0;
            height: auto;
          }
          &__bottom {
            line-height: 0;
          }
          
          &_speakerlist {
            flex-basis: 50%;
          }
        }  
        @media (max-width: 575px) {      
          &_speakerlist {
            flex-basis: 100%;
          }
        }
        @media (max-width: 500px) {
          &_videolist {
            width: 100%;
          }
        }
      }