<?php

{% set data = [

	{
		title: 'Старт бизнеса',
		hash: 'start',
		speakers: [
			{
				id: 'harari',
				name: 'Юваль Ной Харари',
				desc: 'Военный Историк-медиевист'
			}
			,
			{
				id: 'taleb',
				name: 'Нассим Талеб',
				desc: 'Выдающийся экономист'
			}
			,
			{
				id: 'gir',
				name: 'Ричард Гир',
				desc: 'Голливудский актер'
			}
			,
			{
				id: 'harari',
				name: 'Юваль Ной Харари',
				desc: 'Военный Историк-медиевист'
			}
			,
			{
				id: 'taleb',
				name: 'Нассим Талеб',
				desc: 'Выдающийся экономист'
			}
            ,
            {
				id: 'harari',
				name: 'Юваль Ной Харари',
				desc: 'Военный Историк-медиевист'
			}
			,
			{
				id: 'taleb',
				name: 'Нассим Талеб',
				desc: 'Выдающийся экономист'
			}
			,
			{
				id: 'gir',
				name: 'Ричард Гир',
				desc: 'Голливудский актер'
			}
		]
	}
	,
    {
        title: 'Управление бизнесом',
		hash: 'control',
        speakers: [
			{
				id: 'sigal',
				name: 'Стивен Сигал',
				desc: 'Американский актер'
			}
			,
			{
				id: 'shwarc',
				name: 'Арнольд Шварцнеггер',
				desc: 'Актер и политик'
			}
			,
			{
				id: 'sigal',
				name: 'Стивен Сигал',
				desc: 'Американский актер'
			}
			,
			{
				id: 'sigal',
				name: 'Стивен Сигал',
				desc: 'Американский актер'
			}
			,
			{
				id: 'shwarc',
				name: 'Арнольд Шварцнеггер',
				desc: 'Актер и политик'
			}
			,
			{
				id: 'gir',
				name: 'Ричард Гир',
				desc: 'Голубчик'
			}
			,
			{
				id: 'taleb',
				name: 'Нассим Талеб',
				desc: 'это вам не то'
			}
        ]
    }
	,
	{
		title: 'Маркетинг',
		hash: 'marketing',
		speakers: [
			{
				id: 'harari',
				name: 'Юваль Ной Харари',
				desc: 'Военный Историк-медиевист'
			}
			,
			{
				id: 'taleb',
				name: 'Нассим Талеб',
				desc: 'Выдающийся экономист'
			}
			,
			{
				id: 'gir',
				name: 'Ричард Гир',
				desc: 'Голливудский актер'
			}
			,
			{
				id: 'harari',
				name: 'Юваль Ной Харари',
				desc: 'Военный Историк-медиевист'
			}
			,
			{
				id: 'taleb',
				name: 'Нассим Талеб',
				desc: 'Выдающийся экономист'
			}
            ,
            {
				id: 'harari',
				name: 'Юваль Ной Харари',
				desc: 'Военный Историк-медиевист'
			}
			,
			{
				id: 'taleb',
				name: 'Нассим Талеб',
				desc: 'Выдающийся экономист'
			}
			,
			{
				id: 'gir',
				name: 'Ричард Гир',
				desc: 'Голливудский актер'
			}
		]
	}
	,
    {
        title: 'Реклама',
		hash: 'add',
        speakers: [
			{
				id: 'sigal',
				name: 'Стивен Сигал',
				desc: 'Американский актер'
			}
			,
			{
				id: 'shwarc',
				name: 'Арнольд Шварцнеггер',
				desc: 'Актер и политик'
			}
			,
			{
				id: 'sigal',
				name: 'Стивен Сигал',
				desc: 'Американский актер'
			}
			,
			{
				id: 'sigal',
				name: 'Стивен Сигал',
				desc: 'Американский актер'
			}
			,
			{
				id: 'shwarc',
				name: 'Арнольд Шварцнеггер',
				desc: 'Актер и политик'
			}
			,
			{
				id: 'gir',
				name: 'Ричард Гир',
				desc: 'Голубчик'
			}
			,
			{
				id: 'taleb',
				name: 'Нассим Талеб',
				desc: 'это вам не то'
			}
        ]
    }
	,
	{
		title: 'Продажи',
		hash: 'sales',
		speakers: [
			{
				id: 'harari',
				name: 'Юваль Ной Харари',
				desc: 'Военный Историк-медиевист'
			}
			,
			{
				id: 'taleb',
				name: 'Нассим Талеб',
				desc: 'Выдающийся экономист'
			}
			,
			{
				id: 'gir',
				name: 'Ричард Гир',
				desc: 'Голливудский актер'
			}
			,
			{
				id: 'harari',
				name: 'Юваль Ной Харари',
				desc: 'Военный Историк-медиевист'
			}
			,
			{
				id: 'taleb',
				name: 'Нассим Талеб',
				desc: 'Выдающийся экономист'
			}
            ,
            {
				id: 'harari',
				name: 'Юваль Ной Харари',
				desc: 'Военный Историк-медиевист'
			}
			,
			{
				id: 'taleb',
				name: 'Нассим Талеб',
				desc: 'Выдающийся экономист'
			}
			,
			{
				id: 'gir',
				name: 'Ричард Гир',
				desc: 'Голливудский актер'
			}
		]
	}
	,
    {
        title: 'HR',
		hash: 'hr',
        speakers: [
			{
				id: 'sigal',
				name: 'Стивен Сигал',
				desc: 'Американский актер'
			}
			,
			{
				id: 'shwarc',
				name: 'Арнольд Шварцнеггер',
				desc: 'Актер и политик'
			}
			,
			{
				id: 'sigal',
				name: 'Стивен Сигал',
				desc: 'Американский актер'
			}
			,
			{
				id: 'sigal',
				name: 'Стивен Сигал',
				desc: 'Американский актер'
			}
			,
			{
				id: 'shwarc',
				name: 'Арнольд Шварцнеггер',
				desc: 'Актер и политик'
			}
			,
			{
				id: 'gir',
				name: 'Ричард Гир',
				desc: 'Голубчик'
			}
			,
			{
				id: 'taleb',
				name: 'Нассим Талеб',
				desc: 'это вам не то'
			}
        ]
    }
	,
	{
		title: 'Личная эффективность',
		hash: 'personal',
		speakers: [
			{
				id: 'harari',
				name: 'Юваль Ной Харари',
				desc: 'Военный Историк-медиевист'
			}
			,
			{
				id: 'taleb',
				name: 'Нассим Талеб',
				desc: 'Выдающийся экономист'
			}
			,
			{
				id: 'gir',
				name: 'Ричард Гир',
				desc: 'Голливудский актер'
			}
			,
			{
				id: 'harari',
				name: 'Юваль Ной Харари',
				desc: 'Военный Историк-медиевист'
			}
			,
			{
				id: 'taleb',
				name: 'Нассим Талеб',
				desc: 'Выдающийся экономист'
			}
            ,
            {
				id: 'harari',
				name: 'Юваль Ной Харари',
				desc: 'Военный Историк-медиевист'
			}
			,
			{
				id: 'taleb',
				name: 'Нассим Талеб',
				desc: 'Выдающийся экономист'
			}
			,
			{
				id: 'gir',
				name: 'Ричард Гир',
				desc: 'Голливудский актер'
			}
		]
	}
	,
    {
        title: 'Заработок и финансы',
		hash: 'finance',
        speakers: [
			{
				id: 'sigal',
				name: 'Стивен Сигал',
				desc: 'Американский актер'
			}
			,
			{
				id: 'shwarc',
				name: 'Арнольд Шварцнеггер',
				desc: 'Актер и политик'
			}
			,
			{
				id: 'sigal',
				name: 'Стивен Сигал',
				desc: 'Американский актер'
			}
			,
			{
				id: 'sigal',
				name: 'Стивен Сигал',
				desc: 'Американский актер'
			}
			,
			{
				id: 'shwarc',
				name: 'Арнольд Шварцнеггер',
				desc: 'Актер и политик'
			}
			,
			{
				id: 'gir',
				name: 'Ричард Гир',
				desc: 'Голубчик'
			}
			,
			{
				id: 'taleb',
				name: 'Нассим Талеб',
				desc: 'это вам не то'
			}
        ]
    }
	,
    {
        title: 'Траффик и лидогенерация',
		hash: 'traffik',
        speakers: [
			{
				id: 'sigal',
				name: 'Стивен Сигал',
				desc: 'Американский актер'
			}
			,
			{
				id: 'shwarc',
				name: 'Арнольд Шварцнеггер',
				desc: 'Актер и политик'
			}
			,
			{
				id: 'sigal',
				name: 'Стивен Сигал',
				desc: 'Американский актер'
			}
			,
			{
				id: 'sigal',
				name: 'Стивен Сигал',
				desc: 'Американский актер'
			}
			,
			{
				id: 'shwarc',
				name: 'Арнольд Шварцнеггер',
				desc: 'Актер и политик'
			}
			,
			{
				id: 'gir',
				name: 'Ричард Гир',
				desc: 'Голубчик'
			}
			,
			{
				id: 'taleb',
				name: 'Нассим Талеб',
				desc: 'это вам не то'
			}
        ]
    }
	,
    {
        title: 'Джентльмены',
		hash: 'gentlemen',
        speakers: [
			{
				id: 'sigal',
				name: 'Стивен Сигал',
				desc: 'Американский актер'
			}
			,
			{
				id: 'shwarc',
				name: 'Арнольд Шварцнеггер',
				desc: 'Актер и политик'
			}
			,
			{
				id: 'sigal',
				name: 'Стивен Сигал',
				desc: 'Американский актер'
			}
			,
			{
				id: 'sigal',
				name: 'Стивен Сигал',
				desc: 'Американский актер'
			}
			,
			{
				id: 'shwarc',
				name: 'Арнольд Шварцнеггер',
				desc: 'Актер и политик'
			}
			,
			{
				id: 'gir',
				name: 'Ричард Гир',
				desc: 'Голубчик'
			}
			,
			{
				id: 'taleb',
				name: 'Нассим Талеб',
				desc: 'это вам не то'
			}
        ]
    }
	
	
]
%}