.footer {
    background: #08091f;
    padding-top: 50px;
    .container {
        // max-width: 1248px;
    }
    &__inner {
        display: flex;
        flex-direction: column;
    }
    &__section {
        display: flex;
        flex-direction: column;
        &_position {
            &-top {
                padding-bottom: 21px;
                // padding: 70px 0 64px;
                // border-bottom: 1px solid rgba(#fff, 0.33);
                // @include respond-below($responsive-md) {
                //     padding: 36px 0;
                // }
            }
            &-bottom {
                padding: 64px 0;
            }
            &-policy {
                padding: 0 0 42px;
            }
        }
    }
    &__row {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &_margin {
            &-bottom {
                margin-bottom: 64px;
            }
        }
    }
    &__block {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
    }
    &__title {
        font-size: 12px;
        font-weight: 700;
        line-height: 14px;
        margin-bottom: 22px;
        color: rgba(#fff, 0.66);
        text-transform: uppercase;
    }
    &__link,
    &__text {
        font-size: 14px;
        line-height: 16px;
        color: rgba(#fff, 0.36);
    }
    &__link {
        text-decoration: underline;
        margin-bottom: 10px;
        &:hover {
            color: rgba(#fff, 0.66);
            text-decoration: underline;
        }
        &:last-child {
            margin-bottom: 0;

        }
    }
    &__text {
        &-end {
            display: flex;
            align-items: flex-end;
        }
    }
    &__interactive {
        display: grid;
        grid-template-rows: repeat(2, 48px);
        grid-template-columns: 1fr 1fr 368px;
        grid-template-areas: 
            'logo market try'
            'breadcrumbs breadcrumbs try';
    }
    &__logo {
        grid-area: logo;
        display: flex;
        align-items: center;
    }
    &__marketplace {
        display: flex;
        align-items: center;
        grid-area: market;
        .marketplace {
            &__img {
                margin-right: 15px;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
    &__navigation {
        grid-area: breadcrumbs;
        display: flex;
        align-items: flex-end;
        .navigation{
            &__list {
                display: flex;
            }
            &__item {
                margin-right: 42px;
            }
            &__text {
                font-size: 20px;
                line-height: 24px;
                color: #C2CFF2;
                &:hover {
                    color: #fff;
                }
            }
            &__col {
                display: flex;
            }
        }
    }
    &__button {
        grid-area: try;
        display: flex;
        align-items: center;
        &_link {
            font-weight: 400;
            font-size: 22px;
            line-height: 22px;
            padding: 20px 0;
            &:hover {
                color: #fff;
            }
        }
    }
    &-nav {
        display: flex;
        &__link {
            color: #fff;
            font-size: 21px;
            font-weight: 400;
            line-height: 25px;
            &:not(:last-child) {
                margin-right: 36px;
            }
            &:hover,
            &_active {
                color: #E70C6A;
            }
        }
    }
    &-logo {
        height: 24px;
        display: flex;
        &__image {
            height: 100%;
            max-width: 100%;
        }
    }
    &__policy {
        display: grid;
        grid-template-columns: 361px 1fr;
        column-gap: 6%;
    }
    &__privacy {
        display: flex;
        flex-direction: column;
    }
    .corporation {
        display: grid;
        font-weight: 400;
        grid-template-columns: 361px 1fr;
        &.corporation {
            &_color {
                &-white {
                    .corporation {
                        &-card {
                            background-color: rgba(#fff, 0.1);
                            &__title {
                                color: #fff;
                            }
                            &__description {
                                color: rgba(#fff, 0.66);
                            }
                            &__name {
                                color: rgba(#fff, 0.85);
                            }
                            &__item {
                                color: rgba(#fff, 0.66);
                                &:hover {
                                    color: #fff;
                                }
                            }
                        }
                        &-nav {
                            &__title {
                                color: #fff;
                            }
                            &__link {
                                color: rgba(#fff, 0.66);
                                &:hover {
                                    color: #fff;
                                }
                            }
                        }
                    }
                }
                &-black {
                    .corporation {
                        &-card {
                            background-color: #eff1f5;
                            &__title {
                                color:  #1c2734;
                            }
                            &__description {
                                color: #6b7b8e;
                            }
                            &__name {
                                color: rgba(#6b7b8e, 0.85);
                            }
                            &__item {
                                color: rgba(#6b7b8e, 0.66);
                                &:hover {
                                    color: #6b7b8e;
                                }
                            }
                        }
                        &-nav {
                            &__title {
                                color:  #1c2734;
                            }
                            &__link {
                                color: rgba( #1c2734, 0.66);
                                &:hover {
                                    color:  #1c2734;
                                }
                            }
                        }
                    }
                }
            }
        }
        &-card {
            padding: 36px 30px;
            border-radius: 6px;
            &__title {
                line-height: 1;
                font-size: 24px;
                font-weight: 400;
                margin-bottom: 14px;
            }
            &__description {
                font-size: 14px;
                line-height: 20px;
                margin-bottom: 24px;
            }
            &__group {
                &:not(:last-child) {
                    margin-bottom: 24px;
                }
            }
            &__content {
                display: flex;
                flex-direction: column;
                &_type {
                    &-grid {
                        display: grid;
                        grid-row-gap: 12px;
                        grid-column-gap: 18px;
                        grid-template-columns: repeat(2, 1fr);
                    }
                }
            }
            &__name {
                font-size: 14px;
                font-weight: 400;
                line-height: 17px;
                margin-bottom: 12px;
            }
            &__item {
                display: flex;
                font-size: 16px;
                line-height: 18px;
                align-items: center;
                white-space: nowrap;
                svg {
                    width: 18px;
                    height: 18px;
                    margin-right: 8px;
                }
            }
        }
        &-nav {
            padding-top: 17px;
            display: flex;
            align-items: flex-start;
            justify-content: space-around;
            &__block {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                &:not(:last-child) {
                    margin-bottom: 42px;
                }
            }
            &__title {
                font-size: 12px;
                font-weight: 700;
                line-height: 14px;
                margin-bottom: 18px;
                letter-spacing: 0.05em;
                text-transform: uppercase;
            }
            &__link {
                font-size: 16px;
                font-weight: 400;
                line-height: 18px;
                &:not(:last-child) {
                    margin-bottom: 16px;
                }
            }
        }
        &-socials {
            .socials {
                &__list {
                    display: flex;
                }
                &__item {
                    margin-right: 18px;
                    display: flex;
                    align-items: center;
                    &:last-child {
                        margin-right: 0;
                    }
                }
                &__link {
                    &:hover {
                        path {
                            fill-opacity: 1;
                            transition: fill-opacity .2s ease-in-out;
                        }
                    }
                }
            }
        }
    }
}
